<html>
  <head>
  	<title>Acme Ad Manager</title>
  	<meta name="description" content="A test application to showcase TDD via Spring, Thymeleaf, Hibernate and jUnit"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-slate.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/app.css"/>
  </head>
  <body>
    <h1>Acme Ad Manager</h1>
    <h2>Ad List</h2>
    
    <!-- Only show the table if there are Ads in the app -->
    <table th:if="${not #lists.isEmpty(ads)}">
      <tr>
        <th>Ad Name</th>
        <th>Newspapers</th>
      </tr>
      <tr th:each="ad : ${ads}">
        <td>
          <a th:href="@{/ad/__${ad.id}__}" th:text="${ad.name}">[NAME]</a>
        </td>
        <td>
          <ul th:each="newspaper : ${ad.newspapers}">
            <li>
              <a th:href="@{/newspaper/__${newspaper.id}__}" th:text="${newspaper.name}">[NEWSPAPER]</a>
            </li>
          </ul>

        </td>
      </tr>
    </table>
    
    <span th:if="${#lists.isEmpty(ads)}" class="info">There are no ads. Please create one.</span>
	<hr/>
	
	<th:block layout:fragment="content" th:if="${error}">
		<span th:text="*{error}?: ''" class="error"></span>
	</th:block>
	
	<h3>Create New Ad</h3>
	
	<form action="/ad/create" method="POST">
		<label for="name">Name</label> 
      <input name="name" type="text" />

    <label for="newspapers">Newspapers</label>
    <select name="newspapers" rows="10" multiple="true">
      <option 
        th:each="newspaper : ${newspapers}"
        th:text="${newspaper.name}"
        th:value="${newspaper.id}">[NEWSPAPERS]</option>
    </select>

    <br/>
    <label for="submit"/>
    <input type="submit" value="Create" id="submit" class="button btn btn-primary"/>
	</form>
  </body>
</html>