/**
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 */
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@font-face {
  font-family: 'FirewireBlack';
  src: url("/fonts/firewire_black-webfont.eot");
  src: url("/fonts/firewire_black-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/firewire_black-webfont.woff") format("woff"), url("/fonts/firewire_black-webfont.ttf") format("truetype"), url("/fonts/firewire_black-webfont.svg#m47_fire_wire_blackregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Firewire';
  src: url("/fonts/firewire-webfont.eot");
  src: url("/fonts/firewire-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/firewire-webfont.woff") format("woff"), url("/fonts/firewire-webfont.ttf") format("truetype"), url("/fonts/firewire-webfont.svg#m47_fire_wire_blackregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'EditUndoLine';
  src: url("/fonts/edunline-webfont.eot");
  src: url("/fonts/edunline-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/edunline-webfont.woff") format("woff"), url("/fonts/edunline-webfont.ttf") format("truetype"), url("/fonts/edunline-webfont.svg#edit_undo_line_brkregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Verdana", sans-serif;
  font-size: 16px;
  padding: 15px;
}

.home {
  float: left;
  position: absolute;
  padding-top: 20px;
  z-index: 10;
}

h1 {
  text-align: center;
  color: #999;
  font-weight: 400;
  font-family: 'Montserrat', 'sans-serif', 'Verdana', sans-serif;
  margin-bottom: 20px;
  text-shadow: 0px 3px black;
  padding-bottom: 0.5em;
  border-bottom: 3px solid #1c1e22;
}

h1 {
  position: relative;
  z-index: 1;
  overflow: hidden;
  text-align: center;
}

h1:before {
  margin-left: -50%;
  text-align: right;
}

input, select, button {
  color: #000;
}

.error {
  background-color: #fcc;
  color: black;
  padding: 10px;
  border: 3px solid red;
}

/* Tables -------------------------------------*/

table {
  width: 50%;
  padding: 4px;
}

table th,
table td {
  padding: 5px;
}

table th {
  background-color: #555;
}

table tr {
  border-top: 1px solid #272b30;
}


/* Forms ----------------------------------*/

label {
  clear:left;
  float: left;
  display: block;
  width: 8em;
}

select, input[type="text"] {
  width: 12em;
}

select, input, button {
  float: left;
  margin-bottom: 0.5em;
}
